
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <style>
        .col-md-8, .col-md-3 {
            border: 2px solid #aba9a9;
        }
        .col-md-8 {
            box-shadow: -6px 0px 8px 0px #aba9a9 inset;
            margin-right: 10px;
            
        }
        .col-md-3 {
            box-shadow: 6px 0px 8px 0px #aba9a9 inset;
            
        }
            h1, h2 {
                border-bottom: 5px solid greenyellow;
               
            }
    </style>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">

    </div>
    <div class="container body-content">
        <div class="row">
            @RenderBody()
            @{Html.RenderAction("KhoaHoc", "Home");}
            </div>
            <hr />
            <footer>
                <p>Form hiển thị khóa học</p>
            </footer>
        </div>
   
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
